/* 上传头像样式 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload-dragger {
    border: none;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

/* 上传后的头像预览样式 */
.avatar {
    margin-left: 90px;
    width: 180px;
    height: 180px;
    display: block;
}

/* 裁剪图片 */
.image-cropper-dialog .image-cropper {
    height: 500px;
    width: auto;
    /*background-image: radial-gradient(#ffffff, #ffffff, #ffffff);*/
}

/* 圆形裁剪框 */
.image-cropper-circular .cropper-view-box {
    /*   将裁剪框由方形调整为圆形 */
    border-radius: 50%;
}

.cropper-face {
    /*  清除裁剪框填充背景色  */
    background-color: transparent !important;
}

/* 裁剪操作按钮 */
.image-cropper-action {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-cropper-action .action {
    margin-right: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* 切换用户 */
.switch-user-dialog .el-select {
    margin-left: 40px;
}