/* 内容样式 */
.chat-content {
    display: flex;
    flex: 1 1 auto;
    margin-top: 70px;
    margin-left: 100px;
}

/* 滚动条 */
.chat-content .user-scrollbar {
    border-right: 1px solid #70809054 !important;
    /* box-shadow: 水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色 内外阴影; */
    box-shadow: 1px 0 1px rgba(0, 0, 0, .075) !important;
}

/* 最近聊天 */
.chat-content .content-user-list .topping {
    padding: 20px;
    /* border-bottom: 1 px solid #70809054 !important; */
    border-right: 1px solid #70809054 !important;
    /* box-shadow: 水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色 内外阴影; */
    /* box-shadow: 1 px 0 1 px rgba(0, 0, 0, .075) !important; */
}

/* 用户消息列表 */
.chat-content .content-user-list {
    height: 300px;
    width: 400px;
}

.chat-content .content-user-list .user-message-list {
    display: flex;
    /* 设置主轴的方向 */
    flex-direction: column;
}

/* 每个用户消息样式 */
.chat-content .content-user-list .user-message-list .user {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid #70809054 !important;
}

/* 用户头像 */
.chat-content .content-user-list .user-message-list .user .user-avatar {
    margin-right: 20px;
    background-image: url("@/assets/logo.png");
    background-size: contain;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 鼠标移入每个用户消息栏样式 */
.chat-content .content-user-list .user-message-list .user:hover {
    color: #FFA500FF;
    background-color: #FFA5000A;
    cursor: pointer
}

/* 聊天框 */
.chat-content .content-chatting {
    display: flex;
    flex: 1;
    /* 设置主轴的方向 */
    flex-direction: column;
}

/* 聊天框顶部用户头像相关信息 */
.chat-content .content-chatting .chatting-head {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #70809054 !important;
    /* box-shadow: 水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色 内外阴影; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, .075) !important;
}

/* 聊天对象 */
.chat-content .content-chatting .chatting-head .chat-object {
    display: flex;
}

/* 对象名称 */
.chat-content .content-chatting .chatting-head .chat-object .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 对象头像 */
.chat-content .content-chatting .chatting-head .chat-object .chat-object-avatar {
    margin-right: 20px;
    background-image: url("@/assets/logo.png");
    background-size: contain;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 右侧操作按钮 */
.chat-content .content-chatting .chatting-head .chat-action {
    display: flex;
    align-items: center;
}

.chat-content .content-chatting .chatting-head .chat-action i {
    padding: 0 .5rem;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 发送的消息样式，布局在最右侧 */
.chat-content .content-chatting .chatting-body .chatting-body-record .send {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatting-body-record-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

/* 接收的消息样式 */
.chat-content .content-chatting .chatting-body .chatting-body-record .receive {

}

/* 消息文字样式 */
.chat-content .content-chatting .chatting-body .chatting-body-record .message-text {
    display: flex;
    margin: 20px;
    padding: 20px;
    max-width: 200px;
    border-radius: 50px;
}

/* 消息日期 */
.chat-content .content-chatting .chatting-body .chatting-body-record .message-time {
    position: relative;
    top: 2px;
    margin-left: 10px;
    color: rgba(222, 184, 135, 0.92);
}

/* 发送消息背景色 */
.chat-content .content-chatting .chatting-body .chatting-body-record .send .message-text {
    background-color: #FFC0CB54;
}

/* 接收消息背景色 */
.chat-content .content-chatting .chatting-body .chatting-body-record .receive .message-text {
    background-color: #7FFFD43D;
}

/* 聊天输入框相关样式 */
.chat-content .content-chatting .chatting-footer {
    background-color: #F0F8FF1D;
    height: 100px;
}

.chat-content .content-chatting .chatting-footer .footer-box {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* 表情 */
.chat-content .content-chatting .chatting-footer .footer-box .box-expression {
    display: flex;
    align-items: center;
    font-size: 30px;
}

/* 输入框 */
.chat-content .content-chatting .chatting-footer .footer-box .box-input {
    flex: 1 1 auto;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
}

/* 发送 */
.chat-content .content-chatting .chatting-footer .footer-box .box-send {
    display: flex;
    align-items: center;
}