<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.websocket.dao.ContactsMapper">

    <select id="selectByPaged" resultType="com.cmmplb.websocket.domain.vo.ContactsVO">
        select cc.`id`   as id
             , su.`name` as name
             , sa.`url`  as avatar
        from `chat_contacts` cc
        <!-- '类型:1-用户;2-群' -->
        left join `sys_user` su on su.`id` = cc.`business_id`
        left join `sys_attachment` sa on sa.`id` = su.`avatar`
        where cc.`user_id` = #{userId}
        <if test="keywords != null and keywords != ''">
            and su.`name` like concat('%', lower(#{keywords})
                , '%')
        </if>
    </select>

    <select id="selectInfoById" resultType="com.cmmplb.websocket.domain.vo.ContactsInfoVO">
        select cc.`id`     as id
             , su.`name`   as name
             , sa.`url`    as avatar
             , cc.`remark` as remark
        from `chat_contacts` cc
        <!-- '类型:1-用户;2-群' -->
        left join `sys_user` su on su.`id` = cc.`business_id`
        left join `sys_attachment` sa on sa.`id` = su.`avatar`
        where cc.`id` = #{id}
    </select>
</mapper>