<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.websocket.dao.ContactGroupUserMapper">
  <resultMap id="BaseResultMap" type="com.cmmplb.websocket.entity.ContactGroupUser">
    <!--@mbg.generated-->
    <!--@Table chat_contact_group_user-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="is_administrator" property="isAdministrator" />
    <result column="create_time" property="createTime" />
    <result column="create_by" property="createBy" />
    <result column="update_time" property="updateTime" />
    <result column="update_by" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,contact_group_id, user_id, is_administrator, create_time, create_by, update_time, update_by
  </sql>
</mapper>