<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.websocket.dao.MessageRecordMapper">
    <sql id="base_column">
        <!--@sql select-->
        cmr.`id`
             , cmr.`type`
             , cmr.`send_business_id`
             , cmr.`receive_business_id`
             , cmr.`message`
             , cmr.`create_time`
             , cmr.`create_by`
             , cmr.`update_time`
             , cmr.`update_by`
        <!--@sql from `chat_message_record` cmr-->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `chat_message_record` cmr
    </sql>

    <select id="selectContactMessageList" resultType="com.cmmplb.websocket.vo.ContactMessageVO">
        <!-- 两个sql，强行拼成一个 -->
        select any_value(max(cmr.`id`)) as id
             , any_value(sa.`url`)      as avatar
        <if test="type == 1">
            , any_value(su.`name`) as name
        </if>
        <if test="type == 2">
            , any_value(ccg.`name`) as name
        </if>
        , any_value(cmr.`send_business_id`) as sendBusinessId
        , any_value(cmr.`type`)             as type
        <!-- 这里分组的话取不到最新的消息，放到java里面查询sql获取 -->
        <!--,any_value(cmr.`message`)               as message-->
        <!-- 这里虽然能获取最新的，但是上面的sql已经包含最新消息和时间了，直接使用 -->
        <!--,any_value(max(cmr.`create_time`))      as createTime-->
        from `chat_message_record` cmr
        <if test="type == 1">
            left join `sys_user` su on su.`id` = cmr.`send_business_id` and cmr.`type` = 1
            left join sys_attachment sa on sa.`id` = su.`avatar`
        </if>
        <if test="type == 2">
            left join `chat_contact_group` ccg on ccg.id = cmr.`send_business_id` and cmr.`type` = 2
            left join sys_attachment sa on sa.`id` = ccg.`avatar`
        </if>
        <where>
            <!-- 类型:1-用户;2-群 -->
            <if test="type == 1">
                and (
                cmr.`receive_business_id` = #{userId}
                    or cmr.`send_business_id` = #{userId}
                )
            </if>
            <if test="type == 2">
                and (
                cmr.`send_business_id` = #{userId}
                    or cmr.`receive_business_id` in
                <foreach collection="groupIds" item="groupId" open="(" separator=", " close=")">
                    #{groupId}
                </foreach>
                )
            </if>
        </where>
        group by cmr.`send_business_id`
    </select>

    <select id="selectMessageListByIds" resultType="com.cmmplb.websocket.dto.MessageRecordDTO">
        select cmr.`id`
             , cmr.`message`
             , cmr.`create_time`
        from `chat_message_record` cmr
        where cmr.`id` in
        <foreach collection="ids" item="id" open="(" separator=", " close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectMessageByPaged" resultType="com.cmmplb.websocket.vo.ContactMessageVO">
        <!-- 两个sql，强行拼成一个 -->
        select cmr.`id` as id
             , sa.`url` as avatar
        <if test="dto.type == 1">
            , su.`name` as name
        </if>
        <if test="dto.type == 2">
            , ccg.`name` as name
        </if>
        , cmr.`send_business_id` as sendBusinessId
        , cmr.`type`             as type
        , cmr.`message`          as message
        , cmr.`create_time`      as createTime
        from `chat_message_record` cmr
        <if test="dto.type == 1">
            left join `sys_user` su on su.`id` = cmr.`send_business_id` and cmr.`type` = 1
            left join sys_attachment sa on sa.`id` = su.`avatar`
        </if>
        <if test="dto.type == 2">
            left join `chat_contact_group` ccg on ccg.id = cmr.`send_business_id` and cmr.`type` = 2
            left join `sys_attachment` sa on sa.`id` = ccg.`avatar`
        </if>
        <where>
            <!-- 类型:1-用户;2-群 -->
            <if test="dto.type == 1">
                and cmr.`send_business_id` in (#{dto.sendBusinessId}, #{userId})
                      and cmr.`receive_business_id` in (#{dto.sendBusinessId}, #{userId})
            </if>
            <if test="dto.type == 2">
                and cmr.`receive_business_id` = #{dto.sendBusinessId}
            </if>
        </where>
        order by cmr.`create_time`
    </select>
</mapper>